---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Team from "../components/Team.astro";
---

<Layout title="Welcome to My site">
  <main class="space-y-20">
    <Container>
      <div
        class="relative flex flex-col-reverse items-center md:flex-row"
        id="hero"
      >
        <div class="row items-center py-5 md:pb-20 md:pt-10">
          <div class="text-center space-y-10">
            <h2 class="text-5xl font-medium leading-none md:text-6xl">
              ¿Que es una invitacion digital? <br />
            </h2>
            <p class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12">
              Las invitaciones digitales fueron pensadas para que compartas a
              todos tus invitados la información de tu evento, fiesta o
              ceremonia de manera totalmente original y personalizado, ahorrando
              tiempo y dinero. En la invitación, se podrá ver: Ubicacion,
              Portada, Cuenta regresiva, fotos, Video, Confirmacion de
              asistencia
            </p>

            <a
              class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex"
              rel="noopener noreferrer"
              href="https://wa.me/59161347888?text=Buenas...%20Quiero%20realizar%20una%20cotizaci%C3%B3n.%F0%9F%98%83"
              target="_blank"
            >
              <h2 class="text-center text-xl font-normal leading-7">
                Realiza una consulta
              </h2>
            </a>
          </div>
        </div>
      </div>

      <div class="flex-row items-center">..</div>
    </Container>
  </main>
</Layout>
