---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>TatuSoft</title>
    <meta
      name="description"
      content="A beautiful and functional landing page design created specifically for digital marketing agencies. With its clean and modern design, TatuSoft is the perfect template to showcase your agency's services and case studies to potential clients. Built with astro and tailwindcss"
    />

    <!-- Primary Meta Tags -->
    <title>Meta Tags — Preview, Edit and Generate</title>
    <meta name="title" content="Meta Tags — Preview, Edit and Generate" />
    <meta
      name="description"
      content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta
      property="og:title"
      content="Meta Tags — Preview, Edit and Generate"
    />
    <meta
      property="og:description"
      content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"
    />
    <meta property="og:image" content="/Logo.svg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta
      property="twitter:title"
      content="Meta Tags — Preview, Edit and Generate"
    />
    <meta
      property="twitter:description"
      content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"
    />
    <meta property="twitter:image" content="/Logo.svg" />

    <!-- Meta Tags Generated with https://metatags.io -->

    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="bg-white font-SpaceGrotesk">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
